.cont {
    margin-bottom: 20px;
}

p {
    text-align: center;
    line-height: 100px;
}


.block1 {
    background-color: rgb(212, 212, 48);
    height: 100px;
}
.block2 {
    background-color: rgb(119, 233, 119);
    height: 100px;
}
.block3 {
    background-color: rgb(240, 224, 6);
    height: 100px;
}
.block4 {
    background-color: rgb(207, 24, 192);
    height: 100px;
}
.block5 {
    background-color: rgb(240, 224, 6);
    height: 100px;
}
@media (min-width: 768px) {
    .block1 {
        height: 200px;        
    }
    .block1>p {
        line-height: 200px;
    }
    .block2 {
        height: 200px;
    }
    .block2>p {
        line-height: 200px;
    }
}