.wrapper {
    margin: 0 auto;
    outline: solid  2px black;
    max-width: 1920px;
    min-width: 320px;
    height: 500px;
    background: url(../img/background-min.jpg);
    background-repeat: no-repeat;
    
}
.header{
    margin: 0 auto;
    outline: solid  2px black;
    height: 100px;
    width: 1200px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    display: flex;

}
.nav__header--style{
    text-decoration: none;
}