.wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
}
img {
    display: block;
    margin-bottom: 20px;
}

.img{
    display: inline-block;
    width: 400px;
    height: 200px;
    background-image: url('../img/nature.jpg');
    background-size: cover;
    background-position: center;
    
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .img {
        background-image: url('../img/nature@2x.jpg');
    }
}