header {
    margin: 70px 0 0 0;
}
.menu {
    margin: 0;
    padding: 0;
   text-align: center;
}
.menu_list {
    list-style: none;
    display: inline-block;
    margin-right: 122px;
}
.menu_list_link {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
   
}
.menu_list_link:hover {
    color: #42abe1;
}
.center_box {
    padding: 100px 0 0 0;
    width: 900px;
    margin: 0 auto;
    /* border: 3px solid green; */
    box-sizing: border-box;
}

.list_article article{
    margin: 0 auto;
    width: 445px;
    box-sizing: border-box;
    display: inline-block;
    /* border: 2px solid black; */

}
.left{
    padding-left: 21px;
}
.text_img {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}
h2 {
   font-size: 30px;
   font-weight: normal;
   font-family: 'Playfair Display', serif;
}
.text_content {
    text-align: justify;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}
.button {
    display: inline-block;
    border: 1px solid black;
    text-decoration: none;
    padding: 0 10px;
    height: 60px;
    color: black;
    line-height: 60px;
    font-size: 20px;   
}
.butfot {
    margin: 0;
    padding: 130px 0 130px 0;
   text-align: center;
}
